* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 30px;
  
}

.player1, .player2 {
    flex: 1;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
}

.player1 h2, .player2 h2 {
    margin: 10px 0;
}

.player1{
    background-color: rgba(233, 229, 223, 0.56);
}

.point1, .point2 {
    font-size: 3rem;
    font-weight: 700;
    color: #ffeb3b;
}

.currentPoint1, .currentPoint2 {
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 10px;
}

.currentPoint1 h4, .currentPoint2 h4 {
    margin: 5px 0;
    font-weight: 500;
}

.paremes {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    background-color: #ffeb3b;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #fff;
    transform: translateY(-2px);
}

.roll-dice-point h4 {
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 5px;
}
